In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import warnings
import statistics
from google.cloud import bigquery as bq
%matplotlib inline

# Gain access to the account where the data is located
client = bq.Client.from_service_account_json("C:/Users/Andrew/Documents/Data Science Masters/Applied Statistics 6372/Projects/Project 1/data/ml-jth-d220ef33563e.json")
# Suppress warnings because they're annoying.
warnings.simplefilter(action="ignore")

## Read in the data

In [4]:
bombing = pd.read_csv("WW2_Bombing_Data.csv")
stations = pd.read_csv("WeatherStationsGermany.csv")

#### Merging data sets
We need to determine which weather stations were in the vicinity of a given bombing mission to extract what the weather was like at that station.  To do this, we'll consider that latitude and longitude at which the attack took place, and then create a region around that location representing what the weather was like there.

At first glance, it makes sense to consider the range that the aircraft can see to the horizon.  The formula for distance in miles is 1.22 times the square root of the height (in feet) of the aircraft.

\begin{equation}
Distance_{Horizon}(Miles) = 1.22\times\sqrt{Height(Feet)}
\end{equation}

WW2 bombing aircraft generally flew at an altitude of 10,000 feet when delivering their payload.  Using 10,000 feet for height, we see that aircraft can see approximately 122 miles to the horizon in all directions.

Each degree of lattitude is approximately 69 miles.  Therefore it's safe to say that the weather will likely be unchanged in a 2 degree latitude radius (~140 miles).

In [5]:
# Define a function that will list all station IDs within a 1 degree wide box centered around the attack
def FindStations(Latitude, Longitude):
    nearby_stations = stations[(Latitude+2 >= stations["Latitude"]) & (Latitude-2 <= stations["Latitude"]) &
                              (Longitude+2 >= stations["Longitude"]) & (Longitude-2 <= stations["Longitude"])]
    return(list(nearby_stations["StationID"]))

In [86]:
bombing_stations = bombing[bombing["DefCountry"] == "Germany"]  # Only look at bombings in Germany
bombing_stations.drop(["Details"], axis=1, inplace = True)  # We don't need the Details column, so drop it.
bombing_stations["StationIDs"] = ""  # This is just a place holder so the next line will work
# Iterate through each row, and pass the lat and long into the FindStations function
for index, row in bombing_stations.iterrows():
    bombing_stations.at[index, "StationIDs"]= FindStations(float(row["Latitude"]), float(row["Longitude"]))

This produces a new dataframe that looks like the one presented below.  The StationIDs are presented as a lit of IDs of the weather stations within range of the given attack.

In [89]:
bombing_stations.head()

,Unnamed: 0,Success,Month,Day,Year,Country,DefCity,DefCountry,Latitude,Longitude,StationIDs
3,3,0,9,3,1939,United Kingdom,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34..."
4,4,0,9,3,1939,United Kingdom,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34..."
5,5,0,9,4,1939,United Kingdom,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34..."
6,6,0,9,4,1939,United Kingdom,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34..."
11,11,1,12,18,1939,Germany,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34..."

## Query the database
Now that we can link the weather stations that were in the vicinity of a bombing mission, we can use the StationID to extract the weather information reported by each of those stations.  Since most (if not all) bombing missions were in range of several weather stations, it makes sense to use the average value of each parameter measured by the stations as our metric for evaluating the weather on that day for that specific attack.

To do that, we'll need to gather the attributes from the weather database that corresponds to the StationIDs collected on a given day of an attack.

In order to query the database, we'll need pass in a string that contains the SQL statement that we want to execute.  Then, convert degrees to farenheight and return the resulting dataframe.  To complicate matters, some values have -999.  These will have to be omitted so the result isn't polluted with extreme values when averaged.

In [8]:
# Define the query and load the data.  MaxWindGust and MeanWindSpeed values are all -999.0.  Remove from query
def GetWeather(query):
    query_job = client.query(query)
    weather_query = query_job.to_dataframe()

# Convert Temps to Farenheit
    try:
        weather_query['MaxTemp'] = weather_query['MaxTemp'].apply(lambda x: float((x * 9/5) + 32))
        weather_query['MinTemp'] = weather_query['MinTemp'].apply(lambda x: float((x * 9/5) + 32))
        weather_query['MeanTemp'] = weather_query['MeanTemp'].apply(lambda x: float((x * 9/5) + 32))
        weather_query['MinAirTemp'] = weather_query['MinAirTemp'].apply(lambda x: float((x * 9/5) + 32))
        weather_query.loc[weather_query['MaxTemp']<=-999.0, ['MaxTemp']]= -999.0
        weather_query.loc[weather_query['MinTemp']<=-999.0, ['MinTemp']]= -999.0
        weather_query.loc[weather_query['MeanTemp']<=-999.0, ['MeanTemp']]= -999.0
        weather_query.loc[weather_query['MinAirTemp']<=-999.0, ['MinAirTemp']]= -999.0
    except:
        print(query + " was unable to process because no weather stations were in range.")
    
# Make a new dataframe that will just be 1 row long.
    weather= weather_query.iloc[0,:]
# Then, we'll need to filter out anywhere that a value equals -999.
    def BadValues(values):
        if values==-999:
            return False
        else:
            return True
# Average the resulting table, but only where values are not -999.  Take the median of PrecipForm because it's a factor.
# If this fails, it's because there are no values that do not equal -999.
    try:
        weather["MinTemp"]= sum(filter(BadValues, weather_query["MinTemp"])) / len(list(filter(BadValues, weather_query["MinTemp"])))
    except:
        print("This one failed.  MinTemp had no non -999 values")
    try:
        weather["MaxTemp"]= sum(filter(BadValues, weather_query["MaxTemp"])) / len(list(filter(BadValues, weather_query["MaxTemp"])))
    except:
        print("This one failed.  MaxTemp had no non -999 values")
    try:
        weather["MeanTemp"]= sum(filter(BadValues, weather_query["MeanTemp"])) / len(list(filter(BadValues, weather_query["MeanTemp"])))
    except:
        print("This one failed.  MeanTemp had no non -999 values")
    try:
        weather["MinAirTemp"]= sum(filter(BadValues, weather_query["MinAirTemp"])) / len(list(filter(BadValues, weather_query["MinAirTemp"])))
    except:
        print("This one failed.  MinAirTemp had no non -999 values")
    try:
        weather["SunDuration"]= sum(filter(BadValues, weather_query["SunDuration"])) / len(list(filter(BadValues, weather_query["SunDuration"])))
    except:
        print("This one failed.  SunDuration had no non -999 values")
    try:
        weather["MeanCloudCover"]= sum(filter(BadValues, weather_query["MeanCloudCover"])) / len(list(filter(BadValues, weather_query["MeanCloudCover"])))
    except:
        print("This one failed.  MeanCloudCover had no non -999 values")
    try:
        weather["MeanCloudVapor"]= sum(filter(BadValues, weather_query["MeanCloudVapor"])) / len(list(filter(BadValues, weather_query["MeanCloudVapor"])))
    except:
        print("This one failed.  MeanCloudVapor had no non -999 values")
    try:
        weather["MeanRelHumid"]= sum(filter(BadValues, weather_query["MeanRelHumid"])) / len(list(filter(BadValues, weather_query["MeanRelHumid"])))
    except:
        print("This one failed.  MeanRelHumid had no non -999 values")
    try:
        weather["PrecipHeight"]= sum(filter(BadValues, weather_query["PrecipHeight"])) / len(list(filter(BadValues, weather_query["PrecipHeight"])))
    except:    
        print("This one failed.  PrecipHeight had no non -999 values")
    try: 
        weather["PrecipForm"]= statistics.median(filter(BadValues, weather_query["PrecipForm"]))
    except:
        print("This one failed.  PrecipForm had no non -999 values")
    try:
        weather["MeanPressure"]= sum(filter(BadValues, weather_query["MeanPressure"])) / len(list(filter(BadValues, weather_query["MeanPressure"])))
    except:
        print("This one failed.  MeanPressure had no non -999 values")
    try:
        weather["SnowDepth"]= sum(filter(BadValues, weather_query["SnowDepth"])) / len(list(filter(BadValues, weather_query["SnowDepth"])))
    except:
        print("This one failed.  SnowDepth had no non -999 values")
    return(weather)

In [280]:
bombing_stations["MinTemp"]= ""
bombing_stations["MaxTemp"]= ""
bombing_stations["MeanTemp"]= ""
bombing_stations["MinAirTemp"]= ""
bombing_stations["SunDuration"]= ""
bombing_stations["MeanCloudCover"]= ""
bombing_stations["MeanCloudVapor"]= ""
bombing_stations["MeanRelHumid"]= ""
bombing_stations["PrecipHeight"]= ""
bombing_stations["PrecipForm"]= ""
bombing_stations["MeanPressure"]= ""
bombing_stations["SnowDepth"]= ""
#main = """SELECT AVG(MinTemp) MinTemp, AVG(MaxTemp) MaxTemp, AVG(MeanTemp) MeanTemp, AVG(MinAirTemp) MinAirTemp,
#    AVG(SunDuration) SunDuration, AVG(MeanCloudCover) MeanCloudCover, AVG(MeanCloudVapor) MeanCloudVapor,
#    AVG(MeanRelHumid) MeanRelHumid, AVG(PrecipHeight) PrecipHeight, AVG(PrecipForm) PrecipForm,
#    AVG(MeanPressure) MeanPressure, AVG(SnowDepth) SnowDepth
#    FROM `ml-jth.germany.weather`
#    WHERE date = DATE("""
main = """SELECT MinTemp MinTemp, MaxTemp MaxTemp, MeanTemp MeanTemp, MinAirTemp MinAirTemp,
    SunDuration SunDuration, MeanCloudCover MeanCloudCover, MeanCloudVapor MeanCloudVapor,
    MeanRelHumid MeanRelHumid, PrecipHeight PrecipHeight, PrecipForm PrecipForm,
    MeanPressure MeanPressure, SnowDepth SnowDepth
    FROM `ml-jth.germany.weather`
    WHERE date = DATE("""
print("Collecting data...")
i= 0
for index, row in bombing_stations.iterrows():
    date= str(row.Year) + "-" + str(row.Month) + "-" + str(row.Day)
    print(i, index, date)
    query =  main + '"{}"'.format(date) + ") AND StationID IN " + "("+ str(row.StationIDs)[1:-1] + ")"
    weather = GetWeather(query)
    bombing_stations.iloc[i,11] = weather["MinTemp"]
    bombing_stations.iloc[i,12] = weather["MaxTemp"]
    bombing_stations.iloc[i,13] = weather["MeanTemp"]
    bombing_stations.iloc[i,14] = weather["MinAirTemp"]
    bombing_stations.iloc[i,15] = weather["SunDuration"]
    bombing_stations.iloc[i,16] = weather["MeanCloudCover"]
    bombing_stations.iloc[i,17] = weather["MeanCloudVapor"]
    bombing_stations.iloc[i,18] = weather["MeanRelHumid"]
    bombing_stations.iloc[i,19] = weather["PrecipHeight"]
    bombing_stations.iloc[i,20] = weather["PrecipForm"]
    bombing_stations.iloc[i,21] = weather["MeanPressure"]
    bombing_stations.iloc[i,22] = weather["SnowDepth"]
    i += 1
print("Complete")

Collecting data...
0 3 1939-9-3
1 4 1939-9-3
2 5 1939-9-4
3 6 1939-9-4
4 11 1939-12-18
5 18 1940-5-15
6 19 1940-5-19
7 24 1940-6-7
8 30 1940-8-25
9 37 1941-1-21
10 39 1941-3-31
11 43 1941-8-8
12 46 1941-9-7
13 47 1941-11-7
14 48 1941-12-7
15 51 1942-3-8
16 52 1942-3-13
17 53 1942-3-25
18 54 1942-3-28
19 55 1942-4-8
20 56 1942-4-17
21 57 1942-4-23
22 58 1942-4-24
23 59 1942-5-30
24 61 1942-6-25
25 70 1942-9-2
26 74 1942-12-22
27 75 1943-1-27
28 76 1943-3-5
29 77 1943-4-13
30 80 1943-5-17
31 81 1943-6-11
32 82 1943-6-13
33 83 1943-6-26
34 84 1943-6-20
35 85 1943-7-19
36 86 1943-7-24
37 91 1943-8-17
38 92 1943-8-18
39 96 1943-10-10
40 97 1943-10-14
41 98 1943-11-1
42 101 1943-11-3
43 102 1943-11-18
44 103 1943-11-22
45 109 1944-2-19
46 110 1944-2-20
47 111 1944-3-6
48 112 1944-3-1
49 122 1944-7-23
50 124 1944-7-26
51 125 1944-7-28
52 126 1944-8-27
53 133 1945-2-3
54 134 1945-2-13
55 135 1945-3-12
56 136 1945-3-14
57 137 1945-2-1
58 138 1945-3-17
59 139 1945-3-18
60 140 1945-3-22
61 143 1945-5-2
62 144 1945-5-3
63 145 1945-5-7
Complete

In [126]:
from IPython.display import display

pd.options.display.max_columns = None
pd.options.display.max_rows = None
bombing_stations

,Unnamed: 0,Unnamed: 0.1,Success,Month,Day,Year,Country,DefCity,DefCountry,Latitude,Longitude,StationIDs,MinTemp,MaxTemp,MeanTemp,MinAirTemp,SunDuration,MeanCloudCover,MeanCloudVapor,MeanRelHumid,PrecipHeight,PrecipForm,MeanPressure,SnowDepth
0,3,3,0,9,3,1939,United Kingdom,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",59.120000,78.020000,67.868000,55.295000,7.757143,4.500000,17.153333,73.800000,1.433333,0.0,1011.783333,0.000000
1,4,4,0,9,3,1939,United Kingdom,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",59.120000,78.020000,67.868000,55.295000,7.757143,4.500000,17.153333,73.800000,1.433333,0.0,1011.783333,0.000000
2,5,5,0,9,4,1939,United Kingdom,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",58.568000,69.836000,63.512000,56.735000,1.957143,6.573333,15.940000,79.266667,8.813333,1.0,1010.033333,0.000000
3,6,6,0,9,4,1939,United Kingdom,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",58.568000,69.836000,63.512000,56.735000,1.957143,6.573333,15.940000,79.266667,8.813333,1.0,1010.033333,0.000000
4,11,11,1,12,18,1939,Germany,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",16.220000,28.424000,22.676000,13.792308,2.775000,2.180000,3.520000,83.800000,0.000000,0.0,1021.316667,0.066667
5,18,18,1,5,15,1940,United Kingdom,Ruhr,Germany,51.37315,7.629154,"[3, 44, 78, 91, 93, 98, 150, 161, 172, 186, 19...",45.457368,68.189474,56.783158,42.440000,12.266667,2.386842,9.711111,62.611111,0.005263,0.0,984.091304,0.000000
6,19,19,1,5,19,1940,France,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",41.090000,61.102727,51.431429,38.942857,8.600000,4.890000,7.861111,61.894737,0.709091,0.0,999.964706,0.000000
7,24,24,1,6,7,1940,France,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",52.830909,77.409091,66.609091,51.645714,13.915385,2.214286,13.916667,64.300000,0.000000,0.0,997.572222,0.000000
8,30,30,1,8,25,1940,United Kingdom,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",48.756364,63.581818,57.157143,47.042857,2.978571,7.380000,13.461111,85.842105,1.509091,1.0,1004.058824,0.000000
9,37,37,1,1,21,1941,Germany,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",30.782353,39.771765,37.092941,28.965714,0.028571,7.737500,6.366667,85.125000,1.811765,1.0,974.200000,19.187500
10,39,39,1,3,31,1941,United Kingdom,Emden,Germany,53.35940,7.206010,"[44, 78, 102, 186, 193, 243, 326, 327, 342, 55...",25.620000,40.250000,33.000000,22.410909,8.663636,3.155556,4.629412,74.470588,0.000000,0.0,1007.557143,0.166667
11,43,43,1,8,8,1941,Soviet Union,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",47.840000,65.310588,55.548235,45.474286,7.150000,6.056250,11.173333,75.250000,1.135294,1.0,992.257143,0.000000
12,46,46,1,9,7,1941,United Kingdom,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",50.084706,63.965882,54.690588,47.505714,5.307143,5.675000,11.133333,75.500000,0.252941,1.0,998.264286,0.000000
13,47,47,0,11,7,1941,United Kingdom,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",36.780000,43.710000,40.030000,36.422857,2.638462,6.023529,6.975000,81.764706,2.866667,1.0,983.893333,0.588235
14,48,48,1,12,7,1941,United Kingdom,Aachen,Germany,50.77535,6.083887,"[3, 78, 161, 174, 186, 326, 348, 377, 450, 458...",34.576842,40.450526,36.670526,33.774286,0.000000,7.310526,6.938889,91.611111,11.489474,8.0,975.000000,0.277778
15,51,51,1,3,8,1942,United Kingdom,Essen,Germany,51.45564,7.011555,"[3, 44, 78, 98, 150, 161, 186, 211, 326, 330, ...",26.997241,35.084828,30.020000,26.708000,0.833333,5.758621,4.837931,85.034483,0.172414,1.0,998.105263,14.642857
16,52,52,1,3,13,1942,United Kingdom,Cologne,Germany,50.93753,6.960279,"[3, 44, 78, 98, 150, 161, 174, 186, 211, 326, ...",21.008000,37.628000,30.566000,19.980000,9.616667,1.316667,3.370000,60.633333,0.020000,0.0,989.114286,9.103448
17,53,53,0,3,25,1942,United Kingdom,Essen,Germany,51.45564,7.011555,"[3, 44, 78, 98, 150, 161, 186, 211, 326, 330, ...",29.970345,57.336552,43.786897,24.908000,9.016667,1.589655,6.772414,72.689655,0.000000,0.0,1000.747368,0.000000
18,54,54,1,3,28,1942,United Kingdom,Lubeck,Germany,53.86547,10.686560,"[52, 172, 184, 185, 294, 327, 335, 368, 591, 5...",30.020000,43.310000,35.140000,27.176000,10.825000,1.500000,4.705882,67.882353,0.000000,0.0,1015.823077,0.000000
19,55,55,1,4,8,1942,United Kingdom,Hamburg,Germany,53.55108,9.993682,"[44, 52, 102, 106, 172, 185, 207, 294, 326, 32...",41.592500,53.165000,45.447500,39.820000,4.223077,5.683333,8.352174,80.000000,1.925000,1.0,996.382353,0.000000
20,56,56,0,4,17,1942,United Kingdom,Augsburg,Germany,48.37054,10.897790,"[61, 70, 71, 72, 125, 132, 142, 151, 154, 175,...",35.742500,59.525000,47.960000,31.910000,8.033333,3.758333,6.786364,62.636364,0.091667,0.0,931.800000,1.041667
21,57,57,1,4,23,1942,Germany,Norwich,Germany,52.63089,12.973550,"[116, 129, 131, 164, 167, 184, 198, 207, 288, ...",35.600000,61.666250,50.381176,32.247500,10.875000,1.868750,7.373333,63.812500,0.000000,0.0,997.130769,0.000000
22,58,58,1,4,24,1942,United Kingdom,Rostock,Germany,54.09244,12.099150,"[52, 129, 164, 167, 183, 184, 288, 298, 335, 3...",37.840000,54.500000,44.480000,35.312000,11.216667,2.833333,6.637500,66.875000,0.000000,0.0,1016.000000,0.000000
23,59,59,1,5,30,1942,United Kingdom,Cologne,Germany,50.93753,6.960279,"[3, 44, 78, 98, 150, 161, 174, 186, 211, 326, ...",47.348000,59.660000,51.242000,45.660000,5.358333,5.853333,10.456667,80.966667,6.040000,1.0,992.952381,0.000000
24,61,61,1,6,25,1942,United Kingdom,Bremen,Germany,53.07930,8.801694,"[44, 52, 78, 98, 102, 106, 172, 185, 186, 193,...",49.615000,63.525000,52.580000,50.085714,3.077778,6.877778,10.261111,75.666667,0.069444,1.0,1004.616000,0.000000
25,70,70,1,9,2,1942,United Kingdom,Karlsruhe,Germany,49.00689,8.403653,"[1, 70, 71, 72, 91, 93, 150, 161, 174, 191, 20...",53.858261,76.741739,64.572174,46.544000,9.083333,2.600000,15.061905,74.761905,0.313043,0.0,980.600000,0.000000
26,74,74,0,12,22,1942,United Kingdom,Frankfurt,Germany,50.11092,8.682127,"[70, 71, 72, 91, 93, 98, 106, 150, 161, 174, 1...",33.780000,42.815000,37.715000,32.522000,1.491667,5.327778,5.858824,75.911765,0.186111,0.0,992.800000,0.000000
27,75,75,1,1,27,1943,United States,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",37.431304,43.394783,40.577391,34.936250,1.078571,6.943478,8.021739,92.434783,1.430435,1.0,1016.555556,0.173913
28,76,76,1,3,5,1943,United Kingdom,Essen,Germany,51.45564,7.011555,"[3, 44, 78, 98, 150, 161, 186, 211, 326, 330, ...",33.729286,51.555714,41.488571,28.481818,3.642857,5.057143,6.207143,68.571429,0.850000,1.0,1006.189474,0.000000
29,77,77,1,4,13,1943,United States,Bremen,Germany,53.07930,8.801694,"[44, 52, 78, 98, 102, 106, 172, 185, 186, 193,...",40.644615,60.121538,51.080000,37.490000,5.833333,4.900000,10.320513,82.256410,0.015385,0.0,1009.588889,0.000000
30,80,80,1,5,17,1943,United Kingdom,Dortmund,Germany,51.51359,7.465298,"[3, 44, 78, 91, 93, 98, 150, 161, 186, 193, 20...",36.825161,64.789032,53.077419,33.275000,12.206250,1.312903,8.983871,67.935484,0.000000,0.0,1013.620000,0.000000
31,81,81,1,6,11,1943,United Kingdom,Munster,Germany,51.96066,7.626135,"[3, 44, 78, 91, 93, 98, 102, 161, 172, 186, 19...",53.133125,74.271875,63.741875,48.770000,10.100000,4.656250,14.948387,75.193548,0.321875,0.0,1002.410000,0.000000
32,82,82,1,6,13,1943,Germany,Bremen,Germany,53.07930,8.801694,"[44, 52, 78, 98, 102, 106, 172, 185, 186, 193,...",47.120000,66.062632,57.200000,44.568696,10.080952,3.946154,11.005128,69.615385,0.243590,0.0,1002.918519,0.000000
33,83,83,0,6,26,1943,United States,Regensburg,Germany,49.01343,12.101620,"[61, 73, 116, 125, 132, 142, 151, 154, 169, 17...",49.611875,63.224375,56.358065,46.418947,3.245000,6.768750,12.128571,76.888889,1.578125,1.0,941.461111,4.687500
34,84,84,1,6,20,1943,United Kingdom,Friedrichshafen,Germany,47.66176,9.480011,"[1, 70, 71, 72, 125, 142, 174, 175, 176, 177, ...",49.217000,77.081000,64.715000,48.620000,13.340000,1.545000,14.042105,70.368421,0.000000,0.0,946.415385,13.000000
35,85,85,1,7,19,1943,United States,Rome,Germany,52.51579,13.394080,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",51.834286,76.674286,65.660000,49.437500,9.200000,4.890000,13.772222,68.052632,0.000000,0.0,990.683333,0.000000
36,86,86,1,7,24,1943,United States,Hamburg,Germany,53.55108,9.993682,"[44, 52, 102, 106, 172, 185, 207, 294, 326, 32...",54.632000,73.334000,63.938000,51.911429,9.306250,4.023333,15.493103,77.275862,0.083333,0.0,1000.045455,0.000000
37,91,91,1,8,17,1943,United Kingdom,Greifswald,Germany,54.08655,13.392340,"[129, 164, 167, 183, 184, 288, 298, 395, 399, ...",54.470000,71.030000,60.530000,51.890000,10.680000,3.780000,11.475000,66.800000,0.000000,0.5,1014.300000,0.000000
38,92,92,1,8,18,1943,Germany,Hamburg,Germany,53.55108,9.993682,"[44, 52, 102, 106, 172, 185, 207, 294, 326, 32...",47.150000,76.496000,67.052000,43.365714,7.493750,4.770000,15.162069,71.793103,0.013333,0.0,1000.463636,0.000000
39,96,96,0,10,10,1943,United States,Munster,Germany,51.96066,7.626135,"[3, 44, 78, 91, 93, 98, 102, 161, 172, 186, 19...",41.196875,63.505625,50.511875,36.189091,8.870588,0.675000,9.993548,78.516129,0.000000,0.0,1007.790000,0.000000
40,97,97,0,10,14,1943,United States,Schweinfurt,Germany,50.04920,10.219420,"[70, 71, 72, 91, 93, 98, 106, 142, 151, 175, 1...",30.479000,55.260500,40.626154,24.260000,8.495455,1.600000,5.852778,69.085714,0.000000,0.0,980.730435,0.000000
41,98,98,1,11,1,1943,United States,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",36.337143,60.842857,47.342857,33.890000,7.984615,1.636842,6.622222,61.421053,0.000000,0.0,1002.461111,0.000000
42,101,101,1,11,3,1943,United States,Wilhelmshaven,Germany,53.53234,8.106872,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",40.193913,50.328696,44.224348,36.983750,0.450000,7.195652,8.839130,88.826087,0.021739,0.0,1027.150000,0.000000
43,102,102,1,11,18,1943,United Kingdom,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",25.905714,37.365714,31.751429,22.752500,4.246154,5.110000,5.227778,87.000000,0.004762,0.0,1004.011111,0.000000
44,103,103,1,11,22,1943,United Kingdom,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",32.000000,36.757143,34.914286,31.887500,0.076923,8.000000,6.461111,94.368421,3.460000,1.0,992.555556,0.000000
45,109,109,0,2,19,1944,United Kingdom,Leipzig,Germany,51.33970,12.373070,"[106, 116, 131, 132, 151, 164, 169, 184, 198, ...",18.266000,26.084000,22.025517,18.990909,1.500000,7.396552,3.525000,84.250000,0.290000,7.0,991.300000,29.896552
46,110,110,1,2,20,1944,United States,Schweinfurt,Germany,50.04920,10.219420,"[70, 71, 72, 91, 93, 98, 106, 142, 151, 175, 1...",15.324615,24.970769,20.011053,13.305714,2.135000,5.787179,3.148571,81.941176,0.089744,1.0,983.954545,23.512821
47,111,111,1,3,6,1944,United States,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",22.245714,35.874286,30.517143,19.602500,4.100000,6.215000,4.683333,83.157895,1.719048,7.0,1009.344444,7.250000
48,112,112,0,3,1,1944,United Kingdom,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",28.271429,35.891429,32.642857,27.342500,2.230769,7.305000,5.061111,81.473684,1.000000,7.0,982.422222,8.700000
49,122,122,1,7,23,1944,United Kingdom,Kiel,Germany,54.32329,10.122770,"[44, 52, 102, 184, 185, 327, 335, 368, 591, 59...",54.044706,72.415294,62.917647,50.696000,12.887500,3.370588,14.717647,74.647059,0.005882,0.0,1010.666667,0.000000
50,124,124,1,7,26,1944,Germany,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",49.712000,77.126000,65.633000,46.895000,7.333333,4.984211,13.964706,67.833333,0.000000,0.0,999.711765,0.000000
51,125,125,1,7,28,1944,Germany,Merseburg,Germany,51.35633,11.991750,"[106, 116, 131, 132, 151, 164, 169, 184, 198, ...",56.048000,73.016000,64.083448,51.284000,6.338095,4.916667,16.072000,79.083333,1.262069,1.0,981.643478,0.000000
52,126,126,1,8,27,1944,United Kingdom,Hamburg,Germany,53.55108,9.993682,"[44, 52, 102, 106, 172, 185, 207, 294, 326, 32...",58.975172,76.683448,66.510345,54.431429,5.225000,5.165517,18.833333,85.407407,3.067857,1.0,1001.285714,0.000000
53,133,133,1,2,3,1945,United States,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",35.082500,46.647500,39.323750,37.580000,1.900000,6.473333,6.953333,80.937500,0.731250,1.0,994.471429,1.066667
54,134,134,1,2,13,1945,United Kingdom,Dresden,Germany,51.05041,13.737260,"[116, 131, 132, 151, 164, 169, 184, 222, 303, ...",29.850000,50.180000,44.750000,29.660000,1.930000,7.175000,8.637500,84.937500,4.800000,1.0,987.761538,5.764706
55,135,135,1,3,12,1945,United Kingdom,Dortmund,Germany,51.51359,7.465298,"[3, 44, 78, 91, 93, 98, 150, 161, 186, 193, 20...",39.020000,43.952000,41.684000,36.500000,0.080000,7.640000,7.262500,80.125000,0.000000,0.0,1008.280000,0.000000
56,136,136,1,3,14,1945,United Kingdom,Bielefeld,Germany,52.03023,8.532471,"[44, 52, 78, 91, 93, 98, 102, 106, 161, 172, 1...",35.400000,53.420000,43.980000,35.540000,3.625000,3.944444,8.114286,84.285714,0.000000,0.0,1017.600000,0.000000
57,137,137,1,2,1,1945,United Kingdom,Heildeshime,Germany,52.15478,9.957965,"[44, 52, 91, 93, 98, 102, 106, 172, 186, 193, ...",35.188571,42.581429,39.418571,33.697143,0.114286,7.385714,7.630769,91.538462,3.035714,1.0,971.137500,18.076923
58,138,138,1,3,17,1945,Germany,Remagen,Germany,50.57328,7.238553,"[3, 78, 98, 150, 161, 174, 186, 193, 202, 211,...",41.572727,51.030909,45.041818,36.410000,0.400000,7.509091,7.966667,79.000000,0.090000,1.0,995.814286,0.000000
59,139,139,1,3,18,1945,Germany,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",39.500000,48.100000,43.900000,37.715000,1.542857,6.942857,8.187500,84.222222,0.566667,1.0,1011.575000,0.000000
60,140,140,1,3,22,1945,United States,Oppenheim,Germany,49.85192,8.360274,"[70, 71, 72, 91, 93, 98, 150, 161, 174, 186, 1...",33.164000,61.376000,47.708000,29.390000,8.650000,0.826667,6.930769,66.307692,0.000000,0.0,995.728571,0.000000
61,143,143,1,5,2,1945,United Kingdom,Kiel,Germany,54.32329,10.122770,"[44, 52, 102, 184, 185, 327, 335, 368, 591, 59...",33.224000,51.656000,43.160000,29.948000,3.500000,5.180000,7.740000,82.400000,1.020000,0.0,1008.500000,0.000000
62,144,144,1,5,3,1945,United Kingdom,Lubeck,Germany,53.86547,10.686560,"[52, 172, 184, 185, 294, 327, 335, 368, 591, 5...",36.230000,51.320000,43.211429,32.225000,2.400000,4.571429,7.733333,80.333333,0.542857,1.0,1003.050000,0.000000
63,145,145,1,5,7,1945,United States,Berlin,Germany,52.52001,13.404950,"[116, 129, 131, 164, 167, 169, 184, 207, 222, ...",46.355000,59.450000,51.350000,42.800000,10.350000,3.800000,8.800000,68.000000,0.000000,0.0,1001.450000,0.000000

The resulting dataframe contains the weather parameters averaged over all of the stations that were in range of each attack.  While the column "StationIDs" represents the stations that were in range of the attack, it does **not** reflect which stations actually had data on that day.

All that is left to do now is convert the dataframe to a .csv and upload it for future use.

In [283]:
# Convert the pandas dataframe to a .csv
bombing_stations.to_csv("Bombing_Weather_Data.csv")

## Obtain additional data
Now that we have the weather data for the bombing missions.  Let's see if we can grab some additional data for the years before the attack.  With this additional data, we may be able to deduce which conditions lead to a successful attack!

There are 32 unique cities that were bombed in Germany.  Let's get a sample of weather observations representing a random day chosen each month at each city location for the last 3 years before the first bombing mission.

In [15]:
print(bombing_stations.DefCity.unique())

['Wilhelmshaven' 'Ruhr' 'Berlin' 'Emden' 'Berlin ' 'Aachen' 'Essen'
 'Cologne' 'Lubeck' 'Hamburg' 'Augsburg' 'Norwich' 'Rostock' 'Bremen'
 'Karlsruhe' 'Frankfurt' 'Dortmund ' 'Munster' 'Regensburg'
 'Friedrichshafen' 'Rome' 'Greifswald' 'Schweinfurt' 'Leipzig' 'Kiel'
 'Merseburg' 'Dresden' 'Dortmund' 'Bielefeld ' 'Heildeshime' 'Remagen'
 'Oppenheim']

In [119]:
# First, create a dataframe that will hold each observation.
bombing_stations = pd.read_csv("Bombing_Weather_Data.csv")
#pre_bombing = pd.DataFrame({"Success":"","Month":"","Day":"","Year":"","Country":"","DefCity":"","DefCountry":"",
#                            "Latitude":"","Longitude":"","StationIDs":"","MinTemp":"","MaxTemp":"","MeanTemp":"",
#                            "MinAirTemp":"","SunDuration":"","MeanCloudCover":"","MeanCloudVapor":"",
#                            "MeanRelHumid":"","PrecipHeight":"","PrecipForm":"","MeanPressure":"","SnowDepth":""})
#pre_bombing = pd.DataFrame()
columns = ["Unnamed: 0","Success","Month","Day","Year","Country","DefCity","DefCountry","Latitude","Longitude","StationIDs",
           "MinTemp","MaxTemp","MeanTemp","MinAirTemp","SunDuration","MeanCloudCover","MeanCloudVapor",
           "MeanRelHumid","PrecipHeight","PrecipForm","MeanPressure","SnowDepth"]
pre_bombing = pd.DataFrame(columns = columns, index= range(1152))
pre_bombing["Country"]= "Germany"
pre_bombing["DefCountry"] = "Germany"

In [128]:
# Now we'll generate a list of a random day in each month for each year for each city.  We'll also need to identify the
# lat/long and StationIDs for those cities which we can pull directly from the bombing_stations dataframe.

import random
i = 0
for city in bombing_stations.DefCity.unique():
    # Generate random dates
    days1937 = random.sample(range(1,28),12)
    days1938 = random.sample(range(1,28),12)
    days1939 = random.sample(range(1,28),12)
    days = days1937 + days1938 + days1939
    months = [8,9,10,11,12,1,2,3,4,5,6,7]*3
    years = [1937]*12 + [1938]*12 + [1939]*12
    
    # Assign values to the correct columns.  We need the next 36 rows to be the same, so iloc takes on what row
    # we're currently on, i, and goes all the way up to i+36.  The second value in iloc corresponds to the
    # column index we're interested in.
    pre_bombing.iloc[i:i+36,2] = months
    pre_bombing.iloc[i:i+36,3] = days
    pre_bombing.iloc[i:i+36,4] = years
    pre_bombing.iloc[i:i+36,6] = city
    # This part's tricky.  We need the lat/long and StationIDs for the city.  We'll look in bombing_stations where
    # the DefCity is equal to the city we're working on, then extract the first element [0] from the list of results.
    pre_bombing.iloc[i:i+36,8] = list(bombing_stations["Latitude"][bombing_stations["DefCity"]==city])[0]
    pre_bombing.iloc[i:i+36,9] = list(bombing_stations["Longitude"][bombing_stations["DefCity"]==city])[0]
    pre_bombing.iloc[i:i+36,10] = list(bombing_stations["StationIDs"][bombing_stations["DefCity"]==city])[0]
    i+=36

In [129]:
# The result is a dataframe that contains everything we need to query the database.
pre_bombing.head()

,Unnamed: 0,Success,Month,Day,Year,Country,DefCity,DefCountry,Latitude,Longitude,StationIDs,MinTemp,MaxTemp,MeanTemp,MinAirTemp,SunDuration,MeanCloudCover,MeanCloudVapor,MeanRelHumid,PrecipHeight,PrecipForm,MeanPressure,SnowDepth
0,NaN,NaN,8,27,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,9,14,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,10,20,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,11,4,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12,7,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Now query the database with the new dataframe
There are 1152 observations.  This will take several hours to run.  So once it completes successfully, save the output to a csv and NEVER RUN THIS AGAIN!

In [130]:
main = """SELECT MinTemp MinTemp, MaxTemp MaxTemp, MeanTemp MeanTemp, MinAirTemp MinAirTemp,
    SunDuration SunDuration, MeanCloudCover MeanCloudCover, MeanCloudVapor MeanCloudVapor,
    MeanRelHumid MeanRelHumid, PrecipHeight PrecipHeight, PrecipForm PrecipForm,
    MeanPressure MeanPressure, SnowDepth SnowDepth
    FROM `ml-jth.germany.weather`
    WHERE date = DATE("""
print("Collecting data...")
i= 0
for index, row in pre_bombing.iterrows():
    date= str(row.Year) + "-" + str(row.Month) + "-" + str(row.Day)
    print(i, index, date)
    query =  main + '"{}"'.format(date) + ") AND StationID IN " + "("+ str(row.StationIDs)[1:-1] + ")"
    weather = GetWeather(query)
    pre_bombing.iloc[i,11] = weather["MinTemp"]
    pre_bombing.iloc[i,12] = weather["MaxTemp"]
    pre_bombing.iloc[i,13] = weather["MeanTemp"]
    pre_bombing.iloc[i,14] = weather["MinAirTemp"]
    pre_bombing.iloc[i,15] = weather["SunDuration"]
    pre_bombing.iloc[i,16] = weather["MeanCloudCover"]
    pre_bombing.iloc[i,17] = weather["MeanCloudVapor"]
    pre_bombing.iloc[i,18] = weather["MeanRelHumid"]
    pre_bombing.iloc[i,19] = weather["PrecipHeight"]
    pre_bombing.iloc[i,20] = weather["PrecipForm"]
    pre_bombing.iloc[i,21] = weather["MeanPressure"]
    pre_bombing.iloc[i,22] = weather["SnowDepth"]
    i += 1
print("Complete")

Collecting data...
0 0 1937-8-27
1 1 1937-9-14
2 2 1937-10-20
3 3 1937-11-4
4 4 1937-12-7
5 5 1937-1-3
6 6 1937-2-11
7 7 1937-3-17
8 8 1937-4-22
9 9 1937-5-16
10 10 1937-6-26
11 11 1937-7-13
12 12 1938-8-4
13 13 1938-9-20
14 14 1938-10-22
15 15 1938-11-26
16 16 1938-12-14
17 17 1938-1-6
18 18 1938-2-10
19 19 1938-3-27
20 20 1938-4-7
21 21 1938-5-19
22 22 1938-6-21
23 23 1938-7-15
24 24 1939-8-15
25 25 1939-9-16
26 26 1939-10-27
27 27 1939-11-12
28 28 1939-12-4
29 29 1939-1-11
30 30 1939-2-23
31 31 1939-3-6
32 32 1939-4-5
33 33 1939-5-19
34 34 1939-6-25
35 35 1939-7-9
36 36 1937-8-26
37 37 1937-9-1
38 38 1937-10-7
39 39 1937-11-15
40 40 1937-12-27
41 41 1937-1-4
42 42 1937-2-17
43 43 1937-3-13
44 44 1937-4-22
45 45 1937-5-2
46 46 1937-6-9
47 47 1937-7-21
48 48 1938-8-26
49 49 1938-9-7
50 50 1938-10-15
51 51 1938-11-5
52 52 1938-12-25
53 53 1938-1-10
54 54 1938-2-2
55 55 1938-3-13
56 56 1938-4-20
57 57 1938-5-9
58 58 1938-6-4
59 59 1938-7-8
60 60 1939-8-18
61 61 1939-9-11
62 62 1939-10-12
63 63 1939-11-17
64 64 1939-12-13
65 65 1939-1-14
66 66 1939-2-27
67 67 1939-3-10
68 68 1939-4-24
69 69 1939-5-23
70 70 1939-6-20
71 71 1939-7-22
72 72 1937-8-16
73 73 1937-9-14
74 74 1937-10-22
75 75 1937-11-5
76 76 1937-12-6
77 77 1937-1-27
78 78 1937-2-3
79 79 1937-3-1
80 80 1937-4-8
81 81 1937-5-20
82 82 1937-6-15
83 83 1937-7-11
84 84 1938-8-13
85 85 1938-9-8
86 86 1938-10-23
87 87 1938-11-4
88 88 1938-12-1
89 89 1938-1-10
90 90 1938-2-25
91 91 1938-3-9
92 92 1938-4-16
93 93 1938-5-24
94 94 1938-6-26
95 95 1938-7-6
96 96 1939-8-24
97 97 1939-9-2
98 98 1939-10-14
99 99 1939-11-9
100 100 1939-12-12
101 101 1939-1-4
102 102 1939-2-20
103 103 1939-3-13
104 104 1939-4-15
105 105 1939-5-3
106 106 1939-6-7
107 107 1939-7-26
108 108 1937-8-19
109 109 1937-9-23
110 110 1937-10-21
111 111 1937-11-24
112 112 1937-12-25
113 113 1937-1-12
114 114 1937-2-17
115 115 1937-3-4
116 116 1937-4-16
117 117 1937-5-7
118 118 1937-6-1
119 119 1937-7-22
120 120 1938-8-26
121 121 1938-9-2
122 122 1938-10-3
123 123 1938-11-24
124 124 1938-12-13
125 125 1938-1-5
126 126 1938-2-15
127 127 1938-3-19
128 128 1938-4-6
129 129 1938-5-25
130 130 1938-6-11
131 131 1938-7-9
132 132 1939-8-9
133 133 1939-9-24
134 134 1939-10-23
135 135 1939-11-5
136 136 1939-12-18
137 137 1939-1-11
138 138 1939-2-21
139 139 1939-3-26
140 140 1939-4-3
141 141 1939-5-2
142 142 1939-6-10
143 143 1939-7-4
144 144 1937-8-17
145 145 1937-9-18
146 146 1937-10-20
147 147 1937-11-12
148 148 1937-12-10
149 149 1937-1-15
150 150 1937-2-9
151 151 1937-3-5
152 152 1937-4-4
153 153 1937-5-24
154 154 1937-6-6
155 155 1937-7-23
156 156 1938-8-22
157 157 1938-9-16
158 158 1938-10-18
159 159 1938-11-8
160 160 1938-12-27
161 161 1938-1-19
162 162 1938-2-24
163 163 1938-3-26
164 164 1938-4-12
165 165 1938-5-3
166 166 1938-6-4
167 167 1938-7-1
168 168 1939-8-21
169 169 1939-9-22
170 170 1939-10-20
171 171 1939-11-24
172 172 1939-12-23
173 173 1939-1-17
174 174 1939-2-27
175 175 1939-3-7
176 176 1939-4-6
177 177 1939-5-2
178 178 1939-6-14
179 179 1939-7-26
180 180 1937-8-16
181 181 1937-9-27
182 182 1937-10-19
183 183 1937-11-13
184 184 1937-12-23
185 185 1937-1-26
186 186 1937-2-5
187 187 1937-3-17
188 188 1937-4-1
189 189 1937-5-11
190 190 1937-6-10
191 191 1937-7-25
192 192 1938-8-4
193 193 1938-9-16
194 194 1938-10-7
195 195 1938-11-8
196 196 1938-12-22
197 197 1938-1-20
198 198 1938-2-13
199 199 1938-3-27
200 200 1938-4-9
201 201 1938-5-14
202 202 1938-6-25
203 203 1938-7-1
204 204 1939-8-24
205 205 1939-9-21
206 206 1939-10-1
207 207 1939-11-17
208 208 1939-12-19
209 209 1939-1-5
210 210 1939-2-12
211 211 1939-3-23
212 212 1939-4-10
213 213 1939-5-4
214 214 1939-6-15
215 215 1939-7-14
216 216 1937-8-1
217 217 1937-9-9
218 218 1937-10-27
219 219 1937-11-6
220 220 1937-12-13
221 221 1937-1-15
222 222 1937-2-25
223 223 1937-3-2
224 224 1937-4-19
225 225 1937-5-8
226 226 1937-6-11
227 227 1937-7-4
228 228 1938-8-8
229 229 1938-9-25
230 230 1938-10-10
231 231 1938-11-3
232 232 1938-12-2
233 233 1938-1-26
234 234 1938-2-1
235 235 1938-3-9
236 236 1938-4-12
237 237 1938-5-4
238 238 1938-6-6
239 239 1938-7-19
240 240 1939-8-11
241 241 1939-9-15
242 242 1939-10-18
243 243 1939-11-20
244 244 1939-12-13
245 245 1939-1-19
246 246 1939-2-23
247 247 1939-3-1
248 248 1939-4-2
249 249 1939-5-14
250 250 1939-6-4
251 251 1939-7-26
252 252 1937-8-13
253 253 1937-9-8
254 254 1937-10-25
255 255 1937-11-6
256 256 1937-12-10
257 257 1937-1-5
258 258 1937-2-7
259 259 1937-3-9
260 260 1937-4-21
261 261 1937-5-16
262 262 1937-6-24
263 263 1937-7-14
264 264 1938-8-18
265 265 1938-9-15
266 266 1938-10-19
267 267 1938-11-24
268 268 1938-12-20
269 269 1938-1-23
270 270 1938-2-10
271 271 1938-3-14
272 272 1938-4-9
273 273 1938-5-3
274 274 1938-6-26
275 275 1938-7-12
276 276 1939-8-18
277 277 1939-9-7
278 278 1939-10-5
279 279 1939-11-26
280 280 1939-12-14
281 281 1939-1-27
282 282 1939-2-8
283 283 1939-3-6
284 284 1939-4-23
285 285 1939-5-12
286 286 1939-6-11
287 287 1939-7-21
288 288 1937-8-12
289 289 1937-9-15
290 290 1937-10-25
291 291 1937-11-26
292 292 1937-12-6
293 293 1937-1-18
294 294 1937-2-14
295 295 1937-3-20
296 296 1937-4-5
297 297 1937-5-11
298 298 1937-6-7
299 299 1937-7-27
300 300 1938-8-12
301 301 1938-9-23
302 302 1938-10-24
303 303 1938-11-9
304 304 1938-12-18
305 305 1938-1-8
306 306 1938-2-21
307 307 1938-3-19
308 308 1938-4-3
309 309 1938-5-11
310 310 1938-6-6
311 311 1938-7-4
312 312 1939-8-7
313 313 1939-9-12
314 314 1939-10-9
315 315 1939-11-2
316 316 1939-12-6
317 317 1939-1-24
318 318 1939-2-25
319 319 1939-3-11
320 320 1939-4-15
321 321 1939-5-3
322 322 1939-6-18
323 323 1939-7-23
324 324 1937-8-10
325 325 1937-9-27
326 326 1937-10-15
327 327 1937-11-12
328 328 1937-12-24
329 329 1937-1-6
330 330 1937-2-5
331 331 1937-3-1
332 332 1937-4-14
333 333 1937-5-17
334 334 1937-6-9
335 335 1937-7-20
336 336 1938-8-2
337 337 1938-9-3
338 338 1938-10-1
339 339 1938-11-15
340 340 1938-12-27
341 341 1938-1-25
342 342 1938-2-19
343 343 1938-3-12
344 344 1938-4-23
345 345 1938-5-18
346 346 1938-6-22
347 347 1938-7-8
348 348 1939-8-10
349 349 1939-9-15
350 350 1939-10-16
351 351 1939-11-22
352 352 1939-12-21
353 353 1939-1-3
354 354 1939-2-14
355 355 1939-3-1
356 356 1939-4-6
357 357 1939-5-9
358 358 1939-6-23
359 359 1939-7-18
360 360 1937-8-22
361 361 1937-9-23
362 362 1937-10-10
363 363 1937-11-12
364 364 1937-12-14
365 365 1937-1-27
366 366 1937-2-21
367 367 1937-3-24
368 368 1937-4-9
369 369 1937-5-8
370 370 1937-6-4
371 371 1937-7-18
372 372 1938-8-23
373 373 1938-9-8
374 374 1938-10-26
375 375 1938-11-19
376 376 1938-12-24
377 377 1938-1-22
378 378 1938-2-13
379 379 1938-3-6
380 380 1938-4-2
381 381 1938-5-12
382 382 1938-6-20
383 383 1938-7-15
384 384 1939-8-4
385 385 1939-9-6
386 386 1939-10-21
387 387 1939-11-20
388 388 1939-12-22
389 389 1939-1-8
390 390 1939-2-10
391 391 1939-3-5
392 392 1939-4-11
393 393 1939-5-1
394 394 1939-6-9
395 395 1939-7-7
396 396 1937-8-25
397 397 1937-9-1
398 398 1937-10-9
399 399 1937-11-27
400 400 1937-12-15
401 401 1937-1-7
402 402 1937-2-21
403 403 1937-3-24
404 404 1937-4-8
405 405 1937-5-18
406 406 1937-6-17
407 407 1937-7-11
408 408 1938-8-15
409 409 1938-9-7
410 410 1938-10-18
411 411 1938-11-3
412 412 1938-12-22
413 413 1938-1-5
414 414 1938-2-14
415 415 1938-3-21
416 416 1938-4-16
417 417 1938-5-13
418 418 1938-6-12
419 419 1938-7-20
420 420 1939-8-24
421 421 1939-9-6
422 422 1939-10-15
423 423 1939-11-1
424 424 1939-12-21
425 425 1939-1-7
426 426 1939-2-11
427 427 1939-3-14
428 428 1939-4-2
429 429 1939-5-4
430 430 1939-6-20
431 431 1939-7-26
432 432 1937-8-9
433 433 1937-9-16
434 434 1937-10-19
435 435 1937-11-11
436 436 1937-12-13
437 437 1937-1-22
438 438 1937-2-1
439 439 1937-3-6
440 440 1937-4-12
441 441 1937-5-3
442 442 1937-6-18
443 443 1937-7-27
444 444 1938-8-18
445 445 1938-9-9
446 446 1938-10-11
447 447 1938-11-17
448 448 1938-12-15
449 449 1938-1-24
450 450 1938-2-13
451 451 1938-3-4
452 452 1938-4-22
453 453 1938-5-12
454 454 1938-6-26
455 455 1938-7-23
456 456 1939-8-14
457 457 1939-9-18
458 458 1939-10-10
459 459 1939-11-3
460 460 1939-12-2
461 461 1939-1-12
462 462 1939-2-19
463 463 1939-3-13
464 464 1939-4-27
465 465 1939-5-20
466 466 1939-6-5
467 467 1939-7-4
468 468 1937-8-13

469 469 1937-9-7
470 470 1937-10-8
471 471 1937-11-26
472 472 1937-12-1
473 473 1937-1-11
474 474 1937-2-6
475 475 1937-3-21
476 476 1937-4-15
477 477 1937-5-9
478 478 1937-6-24
479 479 1937-7-14
480 480 1938-8-26
481 481 1938-9-23
482 482 1938-10-25
483 483 1938-11-24
484 484 1938-12-3
485 485 1938-1-16
486 486 1938-2-11
487 487 1938-3-18
488 488 1938-4-4
489 489 1938-5-7
490 490 1938-6-20
491 491 1938-7-2
492 492 1939-8-3
493 493 1939-9-13
494 494 1939-10-2
495 495 1939-11-8
496 496 1939-12-22
497 497 1939-1-12
498 498 1939-2-5
499 499 1939-3-24
500 500 1939-4-11
501 501 1939-5-26
502 502 1939-6-9
503 503 1939-7-6
504 504 1937-8-11
505 505 1937-9-21
506 506 1937-10-22
507 507 1937-11-19
508 508 1937-12-27
509 509 1937-1-23
510 510 1937-2-8
511 511 1937-3-16
512 512 1937-4-15
513 513 1937-5-9
514 514 1937-6-26
515 515 1937-7-13
516 516 1938-8-13
517 517 1938-9-20
518 518 1938-10-26
519 519 1938-11-6
520 520 1938-12-7
521 521 1938-1-11
522 522 1938-2-5
523 523 1938-3-1
524 524 1938-4-12
525 525 1938-5-16
526 526 1938-6-22
527 527 1938-7-23
528 528 1939-8-13
529 529 1939-9-1
530 530 1939-10-26
531 531 1939-11-5
532 532 1939-12-6
533 533 1939-1-25
534 534 1939-2-2
535 535 1939-3-7
536 536 1939-4-15
537 537 1939-5-8
538 538 1939-6-22
539 539 1939-7-17
540 540 1937-8-5
541 541 1937-9-14
542 542 1937-10-23
543 543 1937-11-26
544 544 1937-12-9
545 545 1937-1-15
546 546 1937-2-24
547 547 1937-3-11
548 548 1937-4-19
549 549 1937-5-20
550 550 1937-6-18
551 551 1937-7-27
552 552 1938-8-3
553 553 1938-9-16
554 554 1938-10-26
555 555 1938-11-23
556 556 1938-12-15
557 557 1938-1-18
558 558 1938-2-1
559 559 1938-3-2
560 560 1938-4-9
561 561 1938-5-6
562 562 1938-6-5
563 563 1938-7-17
564 564 1939-8-26
565 565 1939-9-17
566 566 1939-10-18
567 567 1939-11-27
568 568 1939-12-25
569 569 1939-1-12
570 570 1939-2-4
571 571 1939-3-9
572 572 1939-4-20
573 573 1939-5-23
574 574 1939-6-10
575 575 1939-7-19
576 576 1937-8-16
577 577 1937-9-4
578 578 1937-10-15
579 579 1937-11-14
580 580 1937-12-2
581 581 1937-1-22
582 582 1937-2-8
583 583 1937-3-18
584 584 1937-4-13
585 585 1937-5-21
586 586 1937-6-23
587 587 1937-7-11
588 588 1938-8-23
589 589 1938-9-12
590 590 1938-10-8
591 591 1938-11-21
592 592 1938-12-15
593 593 1938-1-19
594 594 1938-2-25
595 595 1938-3-16
596 596 1938-4-1
597 597 1938-5-5
598 598 1938-6-18
599 599 1938-7-6
600 600 1939-8-7
601 601 1939-9-23
602 602 1939-10-18
603 603 1939-11-17
604 604 1939-12-20
605 605 1939-1-8
606 606 1939-2-5
607 607 1939-3-27
608 608 1939-4-13
609 609 1939-5-14
610 610 1939-6-26
611 611 1939-7-10
612 612 1937-8-10
613 613 1937-9-20
614 614 1937-10-25
615 615 1937-11-11
616 616 1937-12-6
617 617 1937-1-4
618 618 1937-2-12
619 619 1937-3-7
620 620 1937-4-14
621 621 1937-5-16
622 622 1937-6-13
623 623 1937-7-19
624 624 1938-8-7
625 625 1938-9-22
626 626 1938-10-10
627 627 1938-11-25
628 628 1938-12-12
629 629 1938-1-20
630 630 1938-2-2
631 631 1938-3-14
632 632 1938-4-16
633 633 1938-5-24
634 634 1938-6-1
635 635 1938-7-11
636 636 1939-8-16
637 637 1939-9-19
638 638 1939-10-4
639 639 1939-11-6
640 640 1939-12-9
641 641 1939-1-10
642 642 1939-2-27
643 643 1939-3-8
644 644 1939-4-1
645 645 1939-5-21
646 646 1939-6-5
647 647 1939-7-22
648 648 1937-8-10
649 649 1937-9-24
650 650 1937-10-11
651 651 1937-11-12
652 652 1937-12-19
653 653 1937-1-8
654 654 1937-2-21
655 655 1937-3-2
656 656 1937-4-27
657 657 1937-5-22
658 658 1937-6-16
659 659 1937-7-5
660 660 1938-8-27
661 661 1938-9-2
662 662 1938-10-14
663 663 1938-11-24
664 664 1938-12-17
665 665 1938-1-12
666 666 1938-2-4
667 667 1938-3-6
668 668 1938-4-21
669 669 1938-5-8
670 670 1938-6-7
671 671 1938-7-16
672 672 1939-8-11
673 673 1939-9-22
674 674 1939-10-21
675 675 1939-11-15
676 676 1939-12-7
677 677 1939-1-13
678 678 1939-2-3
679 679 1939-3-20
680 680 1939-4-17
681 681 1939-5-25
682 682 1939-6-23
683 683 1939-7-27
684 684 1937-8-18
685 685 1937-9-6
686 686 1937-10-5
687 687 1937-11-11
688 688 1937-12-27
689 689 1937-1-24
690 690 1937-2-7
691 691 1937-3-9
692 692 1937-4-8
693 693 1937-5-25
694 694 1937-6-3
695 695 1937-7-13
696 696 1938-8-21
697 697 1938-9-16
698 698 1938-10-7
699 699 1938-11-23
700 700 1938-12-10
701 701 1938-1-19
702 702 1938-2-20
703 703 1938-3-13
704 704 1938-4-26
705 705 1938-5-11
706 706 1938-6-24
707 707 1938-7-3
708 708 1939-8-11
709 709 1939-9-2
710 710 1939-10-25
711 711 1939-11-16
712 712 1939-12-10
713 713 1939-1-26
714 714 1939-2-1
715 715 1939-3-24
716 716 1939-4-7
717 717 1939-5-20
718 718 1939-6-19
719 719 1939-7-15
720 720 1937-8-18
721 721 1937-9-26
722 722 1937-10-2
723 723 1937-11-10
724 724 1937-12-14
725 725 1937-1-3
726 726 1937-2-9
727 727 1937-3-24
728 728 1937-4-6
729 729 1937-5-11
730 730 1937-6-16
731 731 1937-7-27
732 732 1938-8-6
733 733 1938-9-14
734 734 1938-10-18
735 735 1938-11-15
736 736 1938-12-10
737 737 1938-1-4
738 738 1938-2-1
739 739 1938-3-13
740 740 1938-4-3
741 741 1938-5-11
742 742 1938-6-2
743 743 1938-7-25
744 744 1939-8-10
745 745 1939-9-25
746 746 1939-10-21
747 747 1939-11-13
748 748 1939-12-3
749 749 1939-1-24
750 750 1939-2-11
751 751 1939-3-27
752 752 1939-4-1
753 753 1939-5-15
754 754 1939-6-5
755 755 1939-7-23
756 756 1937-8-7
757 757 1937-9-18
758 758 1937-10-15
759 759 1937-11-14
760 760 1937-12-5
761 761 1937-1-23
762 762 1937-2-24
763 763 1937-3-8
764 764 1937-4-3
765 765 1937-5-26
766 766 1937-6-9
767 767 1937-7-2
768 768 1938-8-6
769 769 1938-9-5
770 770 1938-10-24
771 771 1938-11-9
772 772 1938-12-18
773 773 1938-1-26
774 774 1938-2-14
775 775 1938-3-15
776 776 1938-4-2
777 777 1938-5-3
778 778 1938-6-17
779 779 1938-7-1
780 780 1939-8-27
781 781 1939-9-11
782 782 1939-10-20
783 783 1939-11-23
784 784 1939-12-8
785 785 1939-1-7
786 786 1939-2-19
787 787 1939-3-6
788 788 1939-4-12
789 789 1939-5-5
790 790 1939-6-3
791 791 1939-7-15
792 792 1937-8-20
793 793 1937-9-5
794 794 1937-10-17
795 795 1937-11-14
796 796 1937-12-13
797 797 1937-1-3
798 798 1937-2-26
799 799 1937-3-4
800 800 1937-4-24
801 801 1937-5-8
802 802 1937-6-18
803 803 1937-7-12
804 804 1938-8-22
805 805 1938-9-16
806 806 1938-10-14
807 807 1938-11-10
808 808 1938-12-23
809 809 1938-1-4
810 810 1938-2-3
811 811 1938-3-12
812 812 1938-4-1
813 813 1938-5-13
814 814 1938-6-9
815 815 1938-7-2
816 816 1939-8-3
817 817 1939-9-20
818 818 1939-10-16
819 819 1939-11-6
820 820 1939-12-1
821 821 1939-1-14
822 822 1939-2-18
823 823 1939-3-23
824 824 1939-4-27
825 825 1939-5-9
826 826 1939-6-7
827 827 1939-7-12
828 828 1937-8-5
829 829 1937-9-8
830 830 1937-10-13
831 831 1937-11-3
832 832 1937-12-26
833 833 1937-1-18
834 834 1937-2-12
835 835 1937-3-6
836 836 1937-4-23
837 837 1937-5-19
838 838 1937-6-16
839 839 1937-7-10
840 840 1938-8-4
841 841 1938-9-25
842 842 1938-10-14
843 843 1938-11-13
844 844 1938-12-5
845 845 1938-1-12
846 846 1938-2-20
847 847 1938-3-2
848 848 1938-4-7
849 849 1938-5-10
850 850 1938-6-16
851 851 1938-7-19
852 852 1939-8-24
853 853 1939-9-8
854 854 1939-10-9
855 855 1939-11-5
856 856 1939-12-4
857 857 1939-1-27
858 858 1939-2-19
859 859 1939-3-15
860 860 1939-4-23
861 861 1939-5-3
862 862 1939-6-11
863 863 1939-7-21
864 864 1937-8-10
865 865 1937-9-22
866 866 1937-10-24
867 867 1937-11-1
868 868 1937-12-20
869 869 1937-1-26
870 870 1937-2-13
871 871 1937-3-12
872 872 1937-4-19
873 873 1937-5-27
874 874 1937-6-16
875 875 1937-7-17
876 876 1938-8-10
877 877 1938-9-19
878 878 1938-10-25
879 879 1938-11-27
880 880 1938-12-23
881 881 1938-1-26
882 882 1938-2-17
883 883 1938-3-14
884 884 1938-4-20
885 885 1938-5-7
886 886 1938-6-3
887 887 1938-7-15
888 888 1939-8-17
889 889 1939-9-13
890 890 1939-10-12
891 891 1939-11-23
892 892 1939-12-2
893 893 1939-1-18
894 894 1939-2-26
895 895 1939-3-8
896 896 1939-4-9
897 897 1939-5-24
898 898 1939-6-15
899 899 1939-7-19
900 900 1937-8-19
901 901 1937-9-7
902 902 1937-10-27
903 903 1937-11-16
904 904 1937-12-25
905 905 1937-1-4
906 906 1937-2-23
907 907 1937-3-10
908 908 1937-4-24
909 909 1937-5-3
910 910 1937-6-2
911 911 1937-7-8
912 912 1938-8-8
913 913 1938-9-12
914 914 1938-10-17
915 915 1938-11-14
916 916 1938-12-21
917 917 1938-1-6
918 918 1938-2-3
919 919 1938-3-19
920 920 1938-4-10
921 921 1938-5-22
922 922 1938-6-25
923 923 1938-7-23
924 924 1939-8-19
925 925 1939-9-18
926 926 1939-10-13

927 927 1939-11-17
928 928 1939-12-24
929 929 1939-1-3
930 930 1939-2-20
931 931 1939-3-5
932 932 1939-4-21
933 933 1939-5-11
934 934 1939-6-10
935 935 1939-7-12
936 936 1937-8-27
937 937 1937-9-1
938 938 1937-10-14
939 939 1937-11-20
940 940 1937-12-3
941 941 1937-1-17
942 942 1937-2-2
943 943 1937-3-21
944 944 1937-4-16
945 945 1937-5-6
946 946 1937-6-11
947 947 1937-7-8
948 948 1938-8-2
949 949 1938-9-22
950 950 1938-10-18
951 951 1938-11-21
952 952 1938-12-26
953 953 1938-1-19
954 954 1938-2-14
955 955 1938-3-5
956 956 1938-4-17
957 957 1938-5-20
958 958 1938-6-9
959 959 1938-7-1
960 960 1939-8-17
961 961 1939-9-4
962 962 1939-10-21
963 963 1939-11-16
964 964 1939-12-19
965 965 1939-1-22
966 966 1939-2-11
967 967 1939-3-5
968 968 1939-4-13
969 969 1939-5-26
970 970 1939-6-12
971 971 1939-7-9
972 972 1937-8-27
973 973 1937-9-8
974 974 1937-10-18
975 975 1937-11-4
976 976 1937-12-10
977 977 1937-1-26
978 978 1937-2-23
979 979 1937-3-15
980 980 1937-4-9
981 981 1937-5-13
982 982 1937-6-21
983 983 1937-7-16
984 984 1938-8-17
985 985 1938-9-15
986 986 1938-10-13
987 987 1938-11-19
988 988 1938-12-10
989 989 1938-1-25
990 990 1938-2-16
991 991 1938-3-8
992 992 1938-4-14
993 993 1938-5-24
994 994 1938-6-22
995 995 1938-7-3
996 996 1939-8-7
997 997 1939-9-17
998 998 1939-10-5
999 999 1939-11-22
1000 1000 1939-12-8
1001 1001 1939-1-21
1002 1002 1939-2-13
1003 1003 1939-3-2
1004 1004 1939-4-16
1005 1005 1939-5-25
1006 1006 1939-6-4
1007 1007 1939-7-19
1008 1008 1937-8-19
1009 1009 1937-9-7
1010 1010 1937-10-21
1011 1011 1937-11-2
1012 1012 1937-12-11
1013 1013 1937-1-14
1014 1014 1937-2-9
1015 1015 1937-3-8
1016 1016 1937-4-5
1017 1017 1937-5-15
1018 1018 1937-6-12
1019 1019 1937-7-25
1020 1020 1938-8-24
1021 1021 1938-9-3
1022 1022 1938-10-25
1023 1023 1938-11-26
1024 1024 1938-12-10
1025 1025 1938-1-21
1026 1026 1938-2-15
1027 1027 1938-3-22
1028 1028 1938-4-13
1029 1029 1938-5-20
1030 1030 1938-6-11
1031 1031 1938-7-4
1032 1032 1939-8-18
1033 1033 1939-9-2
1034 1034 1939-10-27
1035 1035 1939-11-26
1036 1036 1939-12-13
1037 1037 1939-1-3
1038 1038 1939-2-4
1039 1039 1939-3-22
1040 1040 1939-4-5
1041 1041 1939-5-21
1042 1042 1939-6-6
1043 1043 1939-7-24
1044 1044 1937-8-5
1045 1045 1937-9-11
1046 1046 1937-10-23
1047 1047 1937-11-13
1048 1048 1937-12-27
1049 1049 1937-1-22
1050 1050 1937-2-25
1051 1051 1937-3-24
1052 1052 1937-4-14
1053 1053 1937-5-9
1054 1054 1937-6-3
1055 1055 1937-7-12
1056 1056 1938-8-19
1057 1057 1938-9-4
1058 1058 1938-10-14
1059 1059 1938-11-9
1060 1060 1938-12-20
1061 1061 1938-1-22
1062 1062 1938-2-7
1063 1063 1938-3-25
1064 1064 1938-4-21
1065 1065 1938-5-6
1066 1066 1938-6-15
1067 1067 1938-7-17
1068 1068 1939-8-20
1069 1069 1939-9-13
1070 1070 1939-10-18
1071 1071 1939-11-8
1072 1072 1939-12-2
1073 1073 1939-1-11
1074 1074 1939-2-12
1075 1075 1939-3-16
1076 1076 1939-4-21
1077 1077 1939-5-9
1078 1078 1939-6-4
1079 1079 1939-7-15
1080 1080 1937-8-6
1081 1081 1937-9-3
1082 1082 1937-10-20
1083 1083 1937-11-7
1084 1084 1937-12-14
1085 1085 1937-1-15
1086 1086 1937-2-18
1087 1087 1937-3-16
1088 1088 1937-4-10
1089 1089 1937-5-5
1090 1090 1937-6-11
1091 1091 1937-7-12
1092 1092 1938-8-20
1093 1093 1938-9-3
1094 1094 1938-10-19
1095 1095 1938-11-22
1096 1096 1938-12-9
1097 1097 1938-1-10
1098 1098 1938-2-21
1099 1099 1938-3-7
1100 1100 1938-4-23
1101 1101 1938-5-5
1102 1102 1938-6-6
1103 1103 1938-7-4
1104 1104 1939-8-12
1105 1105 1939-9-17
1106 1106 1939-10-7
1107 1107 1939-11-15
1108 1108 1939-12-20
1109 1109 1939-1-5
1110 1110 1939-2-18
1111 1111 1939-3-4
1112 1112 1939-4-23
1113 1113 1939-5-9
1114 1114 1939-6-13
1115 1115 1939-7-3
1116 1116 1937-8-2
1117 1117 1937-9-11
1118 1118 1937-10-21
1119 1119 1937-11-16
1120 1120 1937-12-22
1121 1121 1937-1-13
1122 1122 1937-2-24
1123 1123 1937-3-25
1124 1124 1937-4-6
1125 1125 1937-5-8
1126 1126 1937-6-23
1127 1127 1937-7-15
1128 1128 1938-8-5
1129 1129 1938-9-17
1130 1130 1938-10-7
1131 1131 1938-11-14
1132 1132 1938-12-12
1133 1133 1938-1-18
1134 1134 1938-2-10
1135 1135 1938-3-13
1136 1136 1938-4-20
1137 1137 1938-5-22
1138 1138 1938-6-27
1139 1139 1938-7-6
1140 1140 1939-8-3
1141 1141 1939-9-17
1142 1142 1939-10-5
1143 1143 1939-11-4
1144 1144 1939-12-1
1145 1145 1939-1-18
1146 1146 1939-2-21
1147 1147 1939-3-2
1148 1148 1939-4-7
1149 1149 1939-5-6
1150 1150 1939-6-16
1151 1151 1939-7-19
Complete

In [131]:
# Now we have a complete dataframe with weather information over the last 3 years before bombing commenced at every
# city that was bombed in Germany during the war.
pre_bombing.head()

,Unnamed: 0,Success,Month,Day,Year,Country,DefCity,DefCountry,Latitude,Longitude,StationIDs,MinTemp,MaxTemp,MeanTemp,MinAirTemp,SunDuration,MeanCloudCover,MeanCloudVapor,MeanRelHumid,PrecipHeight,PrecipForm,MeanPressure,SnowDepth
0,NaN,NaN,8,27,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",54.344,74.12,63.62,52.0618,7.05,3.98,17.1929,85.0714,1.06,0,1017.81,0
1,NaN,NaN,9,14,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",44.864,59.336,51.752,41.36,1.8,6.09333,11.3071,86.2857,7.92667,1,994.518,0
2,NaN,NaN,10,20,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",38.12,55.664,44.66,35.1582,5.46667,3.88667,9.19286,89.9286,0.0466667,0,1014.55,0
3,NaN,NaN,11,4,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",37.664,49.7,42.272,36.0909,6.21667,3.82667,7.57143,81.9286,0,0,1021.45,0
4,NaN,NaN,12,7,1937,Germany,Wilhelmshaven,Germany,53.5323,8.10687,"[44, 78, 102, 172, 185, 243, 294, 326, 327, 34...",30.2,36.5,32.672,29.4964,3.78333,5.73333,5.89286,91.6429,0.453333,0,997.145,1.33333

In [132]:
# Export this to a csv and we're done!
pre_bombing.to_csv("Pre_Bombing_Weather_Data.csv")